@model ViewPropertyDetails

<!DOCTYPE html>
<html>
<head>
    <title>Property Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyYqB9RNIjqR5A3IhOm2Au7bT5ZzZ1F1bf" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-4">
        <h1>Property Details</h1>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">@Model.Blurb</p>
                <p class="card-text">Location: @Model.Location</p>
                <p class="card-text">Number of Bedrooms: @Model.NumberOfBedrooms</p>
                <p class="card-text">Cost Per Night: $@Model.CostPerNight</p>
                <p class="card-text">Description: @Model.Description</p>
                <p class="card-text">Amenities: @string.Join(", ", Model.Amenities)</p>
                <p class="card-text">Booked Dates: @string.Join(", ", Model.BookedDates)</p>

                Booking a property
                1.
                Still in the ViewPropertyDetails view wrap the start and end input fields in a form and add another hidden field which captures the property id. Create a new controller called BookingController and implement a HTTP post action which takes the start and end date along with the property id as parameters.
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (required for Bootstrap functionality) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyYqB9RNIjqR5A3IhOm2Au7bT5ZzZ1F1bf" crossorigin="anonymous"></script>

</body>
</html>